@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Math&display=swap');

    
body,html{
    padding:0;
    margin:0;
    font-family: 'STIX Two Math', serif;
}
#icon1t{
    display:none;
}
#icon3t{
    display:none;
}
#icon2t{
    display:none;
}
/*phone size*/
@media screen and (max-width:480px){
    .landing{
        background-image: url('./images/backgrounds/h_img.jpg');
        background-repeat: no-repeat;
        background-size: 100% 80%;
        background-position: center;
        height:20rem; 
        font-size: small;
        text-align: center;
        color: white;
        
        
    }
    .landing-items{
        position:relative;
        top:20%;
    }
   
    .about-us{
        text-align: center;
        width:100%;
       
    }
    .services{
        background-image: url('./images/backgrounds/s_image.jpg');
        background-repeat: no-repeat;
        background-size: 100% 80%;
        background-position: center;
        height:20rem;
        color:white;
        text-align: center;
    }
    .service-text{
        position: relative;
        top:2rem;
    }
    .what-we-do{
        margin: 2rem 0 0 0 ;
        position: relative;
        height:45rem;
    }
    #what{
        text-align: center;
    }
    .icons{
        margin-top: 3rem;
        display: flex;
        flex-direction: column;
        position: absolute;
        left:50%;
        transform: translateX(-50%);
        
        
    }
    .icons>img{
        height:7rem;
        width:7rem;
    }
    #icon1, #icon2, #icon3{
        margin:0 0 5rem 0 ;
    }
    .portfolio{
        text-align: center;
        position: relative;
    }
    /* .images{
        position:absolute;
        left:50%;
        transform: translateX(-50%);
    } */
    #ontario, #image4, #blank , #orange, #image5, #image6, #image7, #image8{
        padding-bottom: 2rem;
        width:80%;
    }
    .contact-us{
        background-image: url('./images/backgrounds/c_image.jpg');
        background-repeat:no-repeat;
        background-size: 100% 80%;
        background-position: center;
        height:20rem;
    }
    #img1,#img2,#img3,#img4,#img5,#img6,#img7,#img8, #img9{
        height:1rem;
        width:1rem;
    }
    .icon{
        margin-top: 3rem;
        display: flex;
        flex-direction: column;
        position: absolute;
        left:50%;
        transform: translateX(-50%);
    }
    .footer{
        text-align: center;
    }
}

/* small tablet */

@media screen and (min-width:481px) and (max-width:768px){

    .landing{
        background-image: url('./images/backgrounds/h_img.jpg');
        background-repeat: no-repeat;
        background-size: 100% 80%;
        background-position: center;
        height:20rem; 
        text-align: center;
        color: white;
    }
    .landing-items{
        position:relative;
        top:20%;
    }
   
    .about-us{
        text-align: center;
        width:100%;
       
    }
    
    .services{
        background-image: url('./images/backgrounds/s_image.jpg');
        background-repeat: no-repeat;
        background-size: 100% 80%;
        background-position: center;
        height:20rem;
        color:white;
        text-align: center;
    }
    .service-text{
        position: relative;
        top:3rem;
    }
    .what-we-do{
        margin: 2rem 0 0 0 ;
        position: relative;
        height:45rem;
    }
    #what{
        text-align: center;
    }
    .icons{
        margin-top: 3rem;
        display: flex;
        flex-direction: column;
        position: absolute;
        left:50%;
        transform: translateX(-50%);
        
        
    }
    .icons>img{
        height:7rem;
        width:7rem;
    }
    #icon1, #icon2, #icon3{
        margin:0 0 5rem 0 ;
    }
    .portfolio{
        text-align: center;
        position: relative;
    }
    /* .images{
        position:absolute;
        left:50%;
        transform: translateX(-50%);
    } */
    #ontario, #image4, #blank , #orange, #image5, #image6, #image7, #image8{
        padding-bottom: 2rem;
        width:80%;
    }
    .contact-us{
        background-image: url('./images/backgrounds/c_image.jpg');
        background-repeat:no-repeat;
        background-size: 100% 80%;
        background-position: center;
        height:20rem;
    }
    #img1,#img2,#img3,#img4,#img5,#img6,#img7,#img8, #img9{
        height:1rem;
        width:1rem;
    }
    .icon{
        margin-top: 3rem;
        display: flex;
        flex-direction: column;
        position: absolute;
        left:50%;
        transform: translateX(-50%);
    }
    .footer{
        text-align: center;
    }
}

/*large tablet size*/
@media screen and (min-width:769px) and (max-width:1024px){

    .landing{
        background-image: url('./images/backgrounds/h_img.jpg');
        background-repeat: no-repeat;
        background-size: 100% 80%;
        background-position: center;
        height:25rem; 
        text-align: center;
        color: white;
    }
    .landing-items{
        position:relative;
        top:20%;
    }
    .about-us{
        text-align: center;
        width:100%;
       
    }
    .services{
        background-image: url('./images/backgrounds/s_image.jpg');
        background-repeat: no-repeat;
        background-size: 100% 80%;
        background-position: center;
        height:25rem;
        color:white;
        text-align: center;
    }
    .service-text{
        position: relative;
        top:5rem;
    }
    .what-we-do{
        margin: 2rem 0 0 0 ;
        position: relative;
        height:25rem;
    }
    #what{
        text-align: center;
    }
    .icons{
        margin-top: 3rem;
        display: flex;
        flex-direction: row;
        position: absolute;
        left:50%;
        transform: translateX(-50%);
        
        
    }
    .icons>img{
        height:7rem;
        width:7rem;
    }
    #icon2, #icon3{
        margin-left: 8rem;
     }
    .portfolio{
        text-align: center;
        position: relative;
    }
    /* .images{
        position:absolute;
        left:50%;
        transform: translateX(-50%);
    } */
    #ontario, #image4, #blank , #orange, #image5, #image6, #image7, #image8{
        padding: 2rem;
        width:20%;
    }
    .contact-us{
        background-image: url('./images/backgrounds/c_image.jpg');
        background-repeat:no-repeat;
        background-size: 100% 80%;
        background-position: center;
        height:25rem;
    }
    #img1,#img2,#img3,#img4,#img5,#img6,#img7,#img8, #img9{
        height:1rem;
        width:1rem;
    }
    .icon{
        margin-top: 3rem;
        display: flex;
        flex-direction: column;
        position: absolute;
        left:50%;
        transform: translateX(-50%);
    }
    .footer{
        text-align: center;
    }
    
}

@media screen and (min-width:1025px){

    .landing{
        background-image: url('./images/backgrounds/h_img.jpg');
        background-repeat: no-repeat;
        background-size: 80% 90rem;
        background-position: center;
        height:35rem; 
        text-align: center;
        color: white;
        
    }
    

    .landing-items{
        position:relative;
        top:20%;
    }
    .about-us{
        text-align: center;
        width:100%;
       
    }
    .services{
        background-image: url('./images/backgrounds/s_image.jpg');
        background-repeat: no-repeat;
        background-size: 80% 80%;
        background-position: center;
        height:35rem; 
        color:white;
        text-align: center;
    }
    .service-text{
        position: relative;
        top:12rem;
    }
    .what-we-do{
        margin: 2rem 0 0 0 ;
        position: relative;
        height:25rem;
    }
    #what{
        text-align: center;
    }
    .icons{
        margin-top: 3rem;
        display: flex;
        flex-direction: row;
        position: absolute;
        left:50%;
        transform: translateX(-50%);
        
        
    }
    .icons>img{
        height:10rem;
        width:10rem;
    }
    #icon1{
        margin-left: 15px;
        z-index: 2;
    }
     #icon2, #icon3{
       margin-left: 25rem;
    }
    .portfolio{
        text-align: center;
        position: relative;
    }
    /* .images{
        position:absolute;
        left:50%;
        transform: translateX(-50%);
    } */
    #ontario, #image4, #blank , #orange, #image5, #image6, #image7, #image8{
        padding: 2rem;
        width:20%;
    }
    .contact-us{
        background-image: url('./images/backgrounds/c_image.jpg');
        background-repeat:no-repeat;
        background-size: 80% 80%;
        background-position: center;
        height:35rem; 
        text-align: center;
        position: relative;
        color:white; 
    }
  
    .contactus-form{
        position: absolute;
        top:5rem;
        width:60%;
        left:50%;
        transform: translateX(-50%);
       
    }
    .Input1{
       margin-left: 20px;
    }
    
    .sideby{
        display: flex;
        flex-direction: row;
    }
    #img1,#img2,#img3,#img4,#img5,#img6,#img7,#img8, #img9{
        height:3rem;
        width:3rem;
    }
    .icon{
        margin-top: 3rem;
        display: flex;
        flex-direction: column;
        position: absolute;
        left:50%;
        transform: translateX(-50%);
    }
    .footer{
        text-align: center;
    }
    
    
}